* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffee;
  margin: auto;
  max-width: 1000px;
  color: #800000;
}

div {
  background-color: #f0e0d6;
}

button {
  max-width: 70px;
}

.board-input {
  background-color: #ffffee;
  margin-right: 10px;
  max-width: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #ffffee;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #800000;
}

.panel {
  border: 1px solid #800000;
  flex-grow: 1;
  margin: auto;
  padding: 10px;
  min-height: 100px;
}

.info {
  margin-left: 20px;
}

#main_content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 700px;
}
